<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    
    <script src="/vue/vue.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/chat.js" defer></script>

 
                
    <title>Chat</title>
</head>
<body>
    <main id='chatid'>
        <h1>hello josi</h1>
        <div v-for="message in messages">
            {{message.message}}
        </div>

        <input type='text' v-model='newMessage' v-on:keyup.enter="addMessage">
        
    
    </main>
    
</body>
</html>