<!DOCTYPE html>
<html lang="en">
   
    <head>
       
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../css/reset.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <link rel="stylesheet" type="text/css" href="../css/deli-very.css">
        <script type="text/javascript" src="../js/menu.js" defer></script>
        <script src="/vue/vue.js" defer></script>
        <script src="/socket.io/socket.io.js" defer></script>
        
        <!-- <script src="../js/deli-very.js" defer></script> -->
        <script src="../js/js_script.js" defer></script>
        
       
       
        <title>Burger Heaven Online</title>
    </head>
    <body>
        <header>
            <section id="header_section">               
            <img  src="../img/background_header.jpg" >
            <h1>Welcome to BurgerHeaven Online</h1>            
            </section>
                        
        </header>
        <main class="main-ID" >
            <section id="select_burger">
                <h1>Please select your Burger</h1>
              
                <section class="burger_wrapper" >
                    <template v-for="burger in food" >
                        <div class="burger a"><h3 style='text-transform:uppercase'> {{burger.name}}</h3></div>
                        
                    </template>
                    <template v-for="burger in food" >
                       
                        <div class="burger a1"> <img v-bind:src=burger.img> </div>
                       
                    </template>
                    <template v-for="burger in food" >
                        
                        <div class="burger a2">
                            <ul>
                                <li>Contains KCal{{ burger.kCal}}</li>
                                <li v-if="burger.lactose" >Contains Lactose</li>
                                <li v-if=" burger.gluten">Contains Gluten</li>
                                
                            </ul>
                        </div>
                    </template>
                    <template v-for="burger in food" >
                                  
                        <div class="burger a3">
                            <input type="checkbox"  
                            v-bind:value=burger.name
                           v-model="orders.burgername"
                            >
                            <label for="burgerchoiceName">Add to the order</label>
                        </div>
                    </template>
                        
                     
                   
                </section>
                    
            </section>
                             
                    
            
            <section id="customer_id" >
                <h1>Customer Information</h1>
                
               
                <br>

                <form id='form_class' >
                  
                    <label for="fullname">Full name</label><br>
                    <input type="text" id="fullname" name="nm" required="required" placeholder="type full name" v-model="orders.name">
                    <p><label for="email">E-mail</label><br>
                    <input type="text" id="email" name="em" required="required" placeholder="type email" v-model="orders.email"></p><br>
                
                    <h3>Delivery information</h3>   
                    <br>            
                    <h1> Please indicate a place  of  delivery! </h1>
                  
                    <div class="view-box">
                        <div id='dots' v-on:click="displayOrder">
                            <div 
                            
                            v-bind:style="{ left: orders.details.x + 'px', top: orders.details.y + 'px'}">
                           T
                            </div>
                        </div>
                    </div>
                    <br>
                    <p><label for="paytype">Payment Options</label><br>
                        <select id="payid" name="paytype" v-model="orders.paytype" >
                            
                            <option >Debit Card</option>
                            <option >Credit Card</option>
                            <option>Paypal</option>
                            <option>Cheque</option>
                            <option>Cash</option>
                            
                            
                          
                        </select> 
                       
                    </p>
                        <br>
                   <label for="gendertype">Gender</label>
                        <p><input type="radio" id="male" name="gender" value="male" v-model="orders.gender"><label for ="male">Male</label></p>
                        <p><input type ="radio" id="female" name="gender" value="female" v-model.onclick="orders.gender"><label for="female">Female</label></p>                        
                        <p><input type ="radio" id="Non-binary" name="gender" value="Non-binary" v-model="orders.gender"><label for="Non-binary">Non-binary</label></p>                        
                        <p><input v-model="orders.gender" type ="radio" id="Undisclosed" name="gender" value="Undisclosed" checked="checked" ><label for="Undisclosed">Undisclosed</label></p>                        
                          
                          
                 
                        </p>
                       

                </form>
            </section>
                <button type="submit" id='submit_buttton' v-on:click='addOrder'><img src="../img/delivery_icon.png" alt="click to submit" >Place Your Order!</button>
            <section id='order_section'>

                <h1>Order Confirmation</h1>
                    <h2>Customer Detail</h2>
                <template v-for="value,key in displayVals"  >
                    
                    <template v-if="key!='burgername'">
                        <div class="order_detail"><h3 > {{key}}-{{value}}</h3></div>
                            </div>
                    
                    </template>
                    
                </template>
                     <h2>Order Summery</h2>
                <ul  >
                    <template v-for="value,key in displayVals.burgername" >
                        <li>{{value}}</li>

                    </template>
                   
                       
                        
                        
                     
                  
                            
                    
                    </ul>
               
                
                </section>    
           
        </main>
        <footer>
            <p>_________________________________________________________________________________________________________________________________________________________________________________________________________</p>
            <h5>© 2018 Hypothetical Burgers Inc.</h5>
        </footer>

    </body>
</html>