<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>

        <title>Burger Heaven Online</title>
    </head>
    <body>
        <header>
            <h1>Welcome to BurgerHeaven Online</h1>
        </header>
        <main>
            <article>
                <h2>Select burger</h2>
                <h3>This is where you execute burger selection</h3>
                <section>
                    <h1>The Fire Burger</h1>
                    <figure>
                        <img href="../public/img/polacks.jpg" alt="this is fire burger" title="Fire Burger">
                    </figure>
                <section>
                    <h1>Customer information </h1>
                    <p> is where you provide necessary information </p>
                </section>
            </article>

        </main>
       <footer>
           <hr @2018 Hypothetical Burgers Inc>

       </footer>

    </body>
</html>